@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root{
    --img:url("./img/Background.png");
}
.entire-frame{
    padding-top:30px;
}
.pages{
    background-image:var(--img);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
*{
    font-family:"Inter", serif;
}
header{
    display:flex;
    gap:24px;
    background-color:white;
    align-items:center;
    padding-block:12.5px;
    justify-content:center;
    position:fixed;
    width:100vw;
    opacity:0.7;
    z-index:1;
}
.white-background{
    position:absolute;
    background-color:white;
    width:100vw;
    height:20px;
    opacity:0.4;
    z-index:-1;
}
.apple{
    width:12.97px;
    height:15.94px;
    cursor:pointer;
}
.search{
    width:14.08px;
    height:14.08px;
    margin-left:0px;
    cursor:pointer;
}
.store{
    width:12.94px;
    height:14.92;
    cursor:pointer;
}
.menu{
    width:18px;
    height:18px;
    display:none;
    cursor:pointer;
}
nav{
    display:flex;
    gap:24px;
}
nav a{
    font-size:12px;
    font-weight:400;
    font-family:"Inter", serif;
    text-decoration:none;
    color:black;
}
.random-text span{
    text-align:center;
    font-size:14px;
    font-weight:400;
}
.random-text{
    display:flex;
    padding-block:16px;
    justify-content:center;
}
.hero{
    background-position:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#ffffff;
    padding:55px 0px 386px 0px;
    width:100vw;
}
.section-h1{
    text-align:center;
    margin-top:30px;
    font-size:52px;
    font-weight:600;
}
.section-p{
    font-size:24px;
    font-weight:400;
}
.btns{
    display:flex;
    margin-left:30px;
    gap:10px;
    width:fit-content;
}
.learn{
    background:#0071e3;
    border-radius:9999px;
    border:none;
    padding:12px 20px 12px 20px;
    font-size:16px;
    font-weight:400;
    color:#ffffff;
    cursor:pointer;
}
.buy{
    color:#2997ff;
    border-radius:9999px;
    border:1px solid #2997ff;
    padding:12px 20px 12px 20px;
    background:none;
    cursor:pointer;
}
.second{
    --img:url("./img/Figure-second.png");
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px 0px 386px 0px;
    color:#ffffff;
    margin-top:6px;
    width:100vw;
}
.color{
    color:#000;
    background-color:#ffffff;
}
.color1{
    color:#ffffff;
    border:1px solid #ffffff;
}
.third{
    --img:url("./img/Figure-third.png");
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px 0px 488px 0px;
    color:#ffffff;
    margin-top:6px;
}
.section1{
    transform:translate(0, 215%);
    color:#000;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.section1-h1{
    font-size:52px;
    font-weight:600;
    margin:0px;
}
.section1-p{
    font-size:24px;
    font-weight:400;
}
.boxes{
    display:grid;
    grid-template-columns:repeat(2, 50vw);
    grid-template-rows:repeat(3, 580px);
    margin-top:12px;
    gap:12px;
}
.box1{
    --img:url("./img/box1.png");
    grid-column:1;
    grid-row:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px 0px 340px 0px;
    overflow:hidden;
}
.box1 > p{
    transform:translate(0%, 280px);
    background-image:linear-gradient(to right, #0090F7, #F55600);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-weight:500;
    font-size:18px;
}
.heading-img{
    width:430px;
    height:33px;
}
.section2{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.section2 p{
    font-size:18px;
    font-weight:400;
    margin:10px;
}
.section2 h1{
    margin:0px;
}
.box2{
    --img:url("./img/box2.png");
    grid-column:2;
    grid-row:1;
    display:flex;
    justify-content:center;
    color:#ffffff;
    align-items:flex-end;
}
.box2 > *{
    margin-bottom:20px;
}
.box2 > .section2 + div{
    display:none;
}
.box3{
    grid-column:1;
    grid-row:2;
    display:flex;
    justify-content:center;
    --img:url('./img/box3.png');
}
.box3 > .section2 > div:first-child{
    display:flex;
    align-items:center;
    gap:7px;
}
.apple1{
    width:26.35px;
    height:32px;
}
.h1-like-span{
    font-size:32px;
    font-weight:700;
}
.box3 > .section2 p{
    margin:2px;
}
.box3 > .section2 .btns{
    margin-right:20px;
}
b{
    font-size:15px;
    font-weight:700;
}
.box3 > *{
    margin-top:58px;
}
.box4{
    grid-column:2;
    grid-row:2;
    --img:url("./img/box4.png");
}
.box4 .section2{
    margin-top:58px;
}
.box4 .btns{
    margin-top:20px;
    margin-left:-25px;
}
.box4 h1{
    font-size:36px;
}
.box4 p{
    font-size:18px;
    transform:translate(-10px, 0px);
}
.box5{
    grid-column:1;
    grid-row:3;
    --img:url("./img/box5.png");
}
.box5 > .section2{
    padding-top:58px;
}
.box6 > .section2:nth-child(1){
    margin-top:58px;
}
.box6 > .section2:nth-child(2){
    display:none;
}
.box6{
    grid-column:2;
    grid-row:3;
    --img:url("./img/box6.png")
}
.box6 .section2{
    margin-top:58px;
}
.box6 .btns{
    padding-top:16px;
}
.box4-5{
    --img:url("./img/box4,5.png");
    display:none;
}
.box4-5 > .section2{
    padding-top:58px;
}
.box4-5 > .section2 > button{
    margin-top:20px;
}
.movie{
    padding-top:12px;
    width:100vw;
}
.big-movie-section{
    display:grid;
    grid-template-columns:repeat(10, 1250px);
    grid-template-rows:688px;
    gap:10px;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
    scrollbar-width:none;
}
.big-movie-section > div{
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    scroll-snap-align:center;
}
.big-movie-section > div > .learn{
    position:absolute;
    top:80%;
    right:84%;
    color:black;
    background-color:white;
}
.big-movie-section > div:nth-child(1){
    background-image:url("./img/movie-1.png");
}
.big-movie-section > div:nth-child(2){
    background-image:url("./img/movie.png");
}
.big-movie-section > div:nth-child(3){
    background-image:url("./img/movie+1.png");
}
.big-movie-section > div:nth-child(4){
    background-image:url("./img/movie+2.png");
}
.big-movie-section > div:nth-child(5){
    background-image:url("./img/movie+3.png");
}
.big-movie-section > div:nth-child(6){
    background-image:url("./img/movie+4.png");
}
.big-movie-section > div:nth-child(7){
    background-image:url("./img/movie+5.png");
}
.big-movie-section > div:nth-child(8){
    background-image:url("./img/movie+6.png");
}
.big-movie-section > div:nth-child(9){
    background-image:url("./img/movie+7.png");
}
.big-movie-section > div:nth-child(10){
    background-image:url("./img/movie+8.png");
}
.small-movie-section{
    margin-top:12px;
    display:grid;
    grid-template-columns:repeat(6, 417px);
    grid-template-rows:236px;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
    scrollbar-width:none;
    gap:10px;
}
.small-movie-section > div{
    background-position:center;
    background-size:cover;
    scroll-snap-align:center;
}
.small-movie-section > div:nth-child(1){
    background-image:url("./img/Link1.png");
}
.small-movie-section > div:nth-child(2){
    background-image:url("./img/Link2.png");
}
.small-movie-section > div:nth-child(3){
    background-image:url("./img/Link3.png");
}
.small-movie-section > div:nth-child(4){
    background-image:url("./img/Link4.png");
}
.small-movie-section > div:nth-child(5){
    background-image:url("./img/Link5.png");
}
.small-movie-section > div:nth-child(6){
    background-image:url("./img/Link6.png");
}
.scroll-bar{
    transform:translate(46.55vw, 10px);
    display:inline-flex;
    gap:10px;
}
.scroll-bar a{
    background-color:#000000;
    width:8px;
    height:8px;
    border-radius:100%;
}
@media (max-width:790px){
    .hero{
        --img:url("img/Figure.png");
        padding:55px 0px 386px 0px;
    }
    nav{
        display:none;
    }
    .apple{
        margin-left:20px;
        width:16px;
        height:19px;
    }
    .search{
        width:16.05px;
        height:16.03px;
        margin-left:auto;
    }
    .store{
        width:15.12px;
        height:17.6px;
    }
    .menu{
        width:18px;
        height:18px;
        display:block;
    }
    .second{
        --img:url("./img/Figure-second1.png");
        margin-top:12px;
    }
    .third{
        display:none;
    }
    .boxes{
        grid-template-rows:repeat(4, 550px);
    }
    .box1{
        grid-column:1 / 3;
    }
    .box2{
        --img:url("./img/box2-1.png");
        grid-column:1;
        grid-row:2;
        width:100%;
        height:100%;
    }
    .box2 > .section2 + div{
        display:flex;
    }
    .box2 > .section2:first-child{
        display:none;
    }
    .box3{
        grid-column:2;
        grid-row:2;
        --img:url('./img/box3-1.png');
    }
    .box4{
        grid-column:1;
        grid-row:3;
    }
    .box4-5{
        display:block;
        grid-row:3;
        grid-column:2;
    }
    .box5{
        grid-column:2;
        grid-row:4;
    }
    .box6{
        display:flex;
        grid-column:1;
        grid-row:4;
        --img:url("./img/box6-1.png");
        align-items:flex-end;
    }
    .box6 > .section2:nth-child(1){
        display:none;
    }
    .box6 > .section2:nth-child(2){
        display:flex;
        padding-bottom:58px;
    }
    .big-movie-section{
        grid-template-columns:repeat(10, 625px);
        grid-template-rows:344px;
    }
    .big-movie-section > div > .learn{
        font-size:14px;
        top:75%;
        right:75%;
    }
    .small-movie-section{
        grid-template-columns:repeat(6, 266px);
        grid-template-rows:161px;
    }
}
@media (max-width:480px){
    .apple{
        width:16px;
        height:19px;
    }
    .search{
        width:16.05px;
        height:16.03px;
        margin-left:auto;
    }
    .store{
        width:15.12px;
        height:17.6px;
    }
    .menu{
        width:18px;
        height:18px;
        display:block;
    }
    nav{
        display:none;
    }
    .hero{
        --img:url("img/Figure1.png");
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        padding:205px 0px 40px 0px;
    }
    .second{
      --img:url("./img/Figure-second2.png");
    }
    .section{
        margin-top:50px;
    }
    .section-h1{
        font-size:30px;
        font-weight:700;
    }
    .section-p{
        font-size:18px;
        font-weight:400;
    }
    .third{
        display:none;
    }
    .boxes{
        grid-template-rows:repeat(7, 550px);
    }
    .pages{
        grid-column:1 / 3;
    }
    .box2{
        grid-row:2;
        --img:url("./img/box2-1.png");
        width:100%;
        height:100%;
    }
    .box2 > .section2:first-child{
        display:none;
    }
    .box2 > .section2 + div{
        display:flex;
    }
    .box3{
        grid-row:3;
    }
    .box4{
        grid-row:4;
    }
    .box4-5{
        grid-row:5;
    }
    .box5{
        grid-row:7;
    }
    .box6{
        grid-row:6;
    }
    .big-movie-section{
        grid-template-columns:repeat(10, 350px);
        grid-template-rows:172px;
    }
    .big-movie-section > div > button{
        display:none;
    }
    .small-movie-section{
        grid-template-columns:repeat(6, 238px);
        grid-template-rows:134px;
    }
    .scroll-bar{
        display:none;
    }
}